<div class="labs-grid">
  <% @labs.each do |lab| %>
    <div class="lab-card">
      <div class="lab-card__image"></div>
      <div class="lab-card__content">
        <h2><%= link_to lab[:name], send(lab[:path]) %></h2>
        <p><%= lab[:description] %></p>
      </div>
    </div>
  <% end %>
</div>
